asynch/
Inverse_Problem/tmp/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.npy
Inverse_Problem/hlm_data/Sensor_data/Rainfall_Sangamon_river
sangamon/usgs-basins.geojson
sangamon/link_maps/hills.shp
sangamon/link_maps/network.dbf
sangamon/link_maps/network.shp
*.tif
*.zip
DA/hlm_data/
DA/tmp/
